.container{
    border-radius:3mm;
    border: lightgrey solid;
    background-color: white;
    text-align: center;
    /* margin-top:43%; */
    margin-bottom: 3%;
}

.col2{
    border-right: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
}

.list{
    list-style: none;
    margin-left:-40px;
    margin-bottom: 3rem;
}

.heading{
    font-family: "eurostile",sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #293347;
    margin-bottom: 1rem;
    margin-top: 2em;
    color: black;
}
.subheading{
    padding: 20px;
    color: #3ba7ff;
    font-family: "eurostile",sans-serif;
    font-size: 20px;
}



.image{
    border-radius: 100%;
    height:300px;
    width:300px;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: white;
    font-size: 40px;
    font-family:'Proxima N W01 Bold', Helvetica, Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #3ba7ff;
    margin-left:5%;
  }

  .box {
    position: relative;
    width: 100%;
  }

  .box:hover .overlay {
    opacity: .8;
  }

  @media only screen and (max-width: 768px) {
    /* For desktop: */
  .container{
margin-left:5%;
  }
}

