.header{
  text-align: left;
  font-size: 80px;
  margin-bottom: 4%;
  padding-top:5%;
  margin-left:10%;
  color:white;
}


.button{
    width:20%;
    padding:5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  color: white;
  font-size: 14px;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 14px 18px;
  border: 1px solid white;
  border-radius: 3px;
  background-color:black;
  }

  .button:hover{
    text-decoration: none;
 color: rgb(123, 126, 128);
 border-color: rgb(123, 126, 128);
 background: -webkit-linear-gradient(#33ccff, #ff99cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    border: 2px solid;
  border-image-source: linear-gradient(45deg, #33ccff, #ff99cc);
  border-image-slice: 1;
  }

  .label{
    color:white;
    font-weight: bold;
    font-family:'Proxima N W01 Bold', Helvetica, Arial, sans-serif;
    font-size: 16px;
    
  }

 .input{
    background-color:white;
    width:100%;
    height: 50%;
    padding:5px;
    margin-bottom: 20px;
    font-family:'Proxima N W01 Bold', Helvetica, Arial, sans-serif;
    font-size: 16px;
    border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color:white;
 }

 .textArea{
  border: 0.5px solid #000;
  background-color: #FFF;
  color: #000 ;
  width:50%;
 border-radius: 2px;
  padding:5px;
  margin-bottom: 20px;
  /* font-weight: bold; */
  font-family:'Proxima N W01 Bold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color:white;
 }

 @media only screen and (max-width: 768px) {
  /* For desktop: */
  .textArea{
      width: 90%;
     
  }
  .input{
    width: 90%;
  }
  .header{
    margin-top:5%;
    margin-left:10%;
}


.background{
  margin-left:5%;
}

}