.heading{
    text-align: left;
    font-size: 80px;
    margin-bottom: 4%;
    padding-top:5%;
    color: white;
}

.image{
    position: absolute;
    right: 20%;
    top: 18%;
    z-index: -2;
    object-fit:cover;
    height: 400px;
    width: auto;
    opacity: 0.75;
    object-position: top;
    
}


.p{
  font-size: 18px; 
  background: white;
  padding: 20px;
  padding-right: 20px;
  padding-left: 20px;
  opacity:0.92;
  text-align: center;
}


.p:hover {  
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.arrow{
    font-size:30px;
    
}

.link{
font-weight: bold;
color:black;


}

.link:hover{
text-decoration: none;
background: -webkit-linear-gradient(right, #33ccff, #ff99cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@media only screen and (max-width: 768px) {
    /* For desktop: */
  .image{
      display:none;
  }

  .heading{
      margin-top:10%;

  }
  }