.heading{
    padding-top: 100px;
    font-family: 'ubuntu';
    text-align: center;
}

.image{
    height:30%;
    width: 50%;
    border-radius: 5mm;
    
}

.container{
    padding-top:30px;
    /* background-color: white; */
    border-radius: 2mm;
    text-align: center;
    background-color: #a9c0ce;
    color: white;
}

.p{
    font-family: 'ubuntu';
    
}